.DS_Store
.AppleDouble
.LSOverride

Icon

._*

.Spotlight-V100
.Trashes

.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.pyc
credentials.py
get-gmus-attributes/csvs
tmp
*.shp
*.dbf
*.prj
*.shx
gmna/styles.txt

rebuild/gmna.xml
rebuild/gmus.xml
rebuild/TileStache/map_cache
